.mainEdit {
  background-color: black;
  height: 100vh;
  width: auto;
 }
.btnEdit {
  position: relative;
  margin-left: 50%;
  outline: solid white;
 }
.cardPage {
  left: 50%;
  justify-content: center;
  height: unset !important;
  width: auto;
  outline: solid white;
  background-color: black;
  margin-top: %;
  }
.graph {
  margin-left: 100px;
  justify-content: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: 50px; */
 }
 .cardEditor {
 
 }
