.node {
  height: 100vh;
  width: auto;
  background-color: black;
}

.text {
  border: solid 200px white;
  border-radius: 5px;
  margin-left: 20%;
  margin-right: 20%;
  color: black;
  background-color: white;

}

.nodeBut {
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
  display:flex;
  justify-content:center;
  align-items:center;
     
}
.nbt {
 margin-right: 15px;
}