.mainDiv {
  height: 100vh;
  width: auto;
  background-color: black;
}
.btn1 {
  position: absolute;
  left: 50%;
  justify-content: center;
  outline: 2px outset white;
  background-color: black;
  margin-top: 30px;
  }

.projectDiv {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: auto;
  background-color: black;
}

.myDiv {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background-color: black;
  align-items: center;
  height: auto;
  width: auto;
  flex-direction: column;
}
