.psp {
  /* background-color: black;
  height: 100vh;
  width: auto; */
}

.butPsp {
  outline: 3px outset white;
  background-color: black;
  margin-left: 50%;
  margin-right: 50%;

}

.d-flex-psp {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 50px;
  margin-right: 10px;
  background-color: black;

}

.projectPage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: black;
  height: 100vh;
  width: auto;

}