.card {
  width: 33rem;
  /* height: 40rem; */
  height: unset !important;
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
  background-color: black;
  outline: 2px outset white;
  height: auto;

 }

.cardPage {
  background-color: black;
  display: flex;
  justify-content: space-around;
  
  /* margin-left: auto;
  margin-right: auto; */
  /* height: auto; */
  margin-top: 50px;
  /* border-width: '0.5'; */
  /* box-shadow: '11px 14px 9px 1px  silver' */
}

.btn {
  display: flex;
  justify-content: space-around;
  outline: 2px outset white;
  background-color: black;
  margin-top: 5px;
}

.del {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.name {
  display: contents;
  color: white;
  outline: 2px outset white;
}

.desc {
  margin-bottom: 5px;
  display: contents;
  color: white;
  outline: 2px outset white;
}

.title {
  color: white;
  margin-top: 2px;
}

.img {
  display: flex;
  width: auto;
  height: 300px;
  margin: 40px;
  border-radius: 1%;
}

.card-body {
  background-color: black;
  margin-bottom: 0px;
}