.card {
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto; 
  background-color: black;
  outline: 2px outset white;
  margin-top: 5%;
  margin-bottom: 5%;
 background-color: black;
 
}
.card-body {
  background-color: black;
  max-width: 100%;
 }

.cardPage {
  background-color: black;
  display: flex;
  justify-content: space-around;
  outline: none;

}

.btn {
  display: flex;
  outline: 2px outset white;
  background-color: black;
}
.del {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
}

.name {
  display: contents;
  color: white;
  outline: 2px outset white;
}

.desc {
  margin-bottom: 5px;
  display: contents;
  color: white;
  outline: 2px outset white;
}

.title {
  color: white;
  margin-top: 2px;
}

.img {
  display: flex;
  width: 450px;
  height: 300px;
  margin: 40px;
  border-radius: 1%;
}

