.editBut {
  width: auto; 
  padding: 8px 30px;
  box-sizing: border-box;
  display:flex;
  justify-content:center;
  align-items:center;
  margin-left: 10px;
  margin-bottom: 5px;
}
.editBut1 {
  width: auto; 
  padding: 8px 30px;
  box-sizing: border-box;
  display:flex;
  justify-content:center;
  align-items:center;
}
