.navbar-brand {
  outline: 2px outset white;
  color: white;
  border-radius: 5px;
}

.container-fluid {
  outline: unset !important;
  /* border-bottom: white; */

}

.border {
  outline: 3px outset white;
  /* position: fixed;
  top: 100;
  width: 100%; */
 }
 .nav{
  display: flex;
  justify-content:flex-end;
}
